/*** Basic Styles ***/


* {
    box-sizing: border-box;
}


body {
    font-family: 'Merriweather', serif;
    color: #2D3945;

}

header {
    background-color: #2D3945;
    color: #fff;
    text-transform: uppercase;
    padding: 1em;
}

h1, h2, h3, p {
    text-align: center;
}

h3,
.copyright {
    color: #9DA3A8;
    font-weight: 100;
}

form,
.intro {
    max-width: 400px;
    margin: 0 auto; /*centers the form content*/
}

form {
    border-top: 1px solid #000;
}


fieldset {
    border: none;
    margin: 0;
}

.newsletter {
    background-color: honeydew;
    border-radius: 5px;
}

legend {
    font-size: 1.4em;
    font-weight: bold;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

label {
    display: block; /*makes a line break after each label*/
    padding: 1em 0;
    color: #617383;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
    background-color: #EFF0F1;
    border: none;
    border-radius: 5px; /*for round corners*/
    margin-bottom: 1em;
    padding: 1.5em;
    width: 100%;
    outline: none;
    transition: background-color 0.5s ease;
}


select#state {
    color: #A8ADB2;
}

option {
    color: #617383;
}


input#zip {
    width:10em;
}


input:focus {
    border: 2px solid #46698B;
    background-color: honeydew;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked{
    background-color: #489EF9;
}

button {
    background-color: #4EBBB5;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 1.5em;
    margin: 1em 0;
    width: 100%;
}

.intro {
    border-bottom: 4px solid #000;
    margin-bottom: 5px;
    padding: 1.5em 0;
}

.contact {
    border-bottom: 2px solid #000;
}

.light {
    display: inline-block;
    padding-left: 10px;
}

::placeholder {
    text-align: right;
    font-style: italic;
    color: #A8ADB2;
    padding-right: 5px; /*prevents the text from being cut on the right side*/
}

:-ms-input-placeholder { /* IE10–11 */
    text-align: right !important;
    font-style: italic !important;
    color: #A8ADB2 !important;
    padding-right: 5px !important;

}

.copyright {
    font-style: italic;
}


@media screen and (min-width: 768px){
    form,
    .intro {
        max-width: 700px;
    }

    .contact-input {
        display: inline-block;
        float: left;
        clear: both;
    }

    input[type="text"]:not(.zip),
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    select,
    .zip-container {
        width: 70%;
        display: block;
        float: right;
    }


    .zip {
        display: block;
        float: left;
    }



}

/* ---- Float clearfix ---- */

.clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
